body {
    margin: 0;
    padding: 0;
    background-color: var(--beige);
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

.logoutBtn {
    border: 2px solid var(--darkgrey);
  } 

  .logoutBtn:hover {
    background-color: var(--darkgrey);
    color: var(--darkblue);
    }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--beige);
}
.containerbig {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .container {
    flex: 0 0 calc(33.333% - 20px); /* 3 Elemente pro Zeile (minus Abstand) */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }

.cardgreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: var(--green);
    border-radius: 50%;  /* Fully circular */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease
}

.cardyellow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: var(--yellow);  /* Yellowish color */
    border-radius: 50%;  /* Fully circular */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease
}

.cardpink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: var(--pink);  /* Pinkish color */
    border-radius: 50%;  /* Fully circular */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease
}

.cardblue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: var(--blue);  /* Blueish color */
    border-radius: 50%;  /* Fully circular */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease
}

.card:hover {
    transform: translateY(-5px);

}

.card object {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.card h2 {
    margin: 10px 0 0;
}

.cardpink.selected {
    border: 8px solid var(--darkpink);  /* Border color for selected state */
    transform: scale(1.05);
}

.cardgreen.selected {
    border: 8px solid var(--darkgreen);  /* Border color for selected state */
    transform: scale(1.05);
}

.cardblue.selected {
    border: 8px solid var(--darkblue);  /* Border color for selected state */
    transform: scale(1.05);
}

.cardyellow.selected {
    border: 8px solid var(--dark);  /* Border color for selected state */
    transform: scale(1.05);
}

.card:hover {
    transform: translateY(5px);
    cursor: pointer;  /* Ensures hand cursor is shown on hover */
}

.icons_categories {
    width: 80px;
    height: 100px;
}