body {
  margin: 0;
  padding: 0;
  background-color: var(--lightyellow);
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Logo */
.logo {
  width: 120px;
  margin-top: 30px;
}


/* Formularbox */
form#registerForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  background-color: var(--lightyellow);
  padding: 0px 30px 30px 30px;
  border-radius: 15px;
  gap: 15px;
}

/* Eingabefelder */
form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  position: relative;
}


label {
  margin-bottom: 5px;
  color: #444;
  font-weight: 500;
}

input {
  padding: 12px;
  border: 2px solid var(--yellow);
  border-radius: 15px;
  font-size: 1rem;
  transition: border-color 0.3s;
  background-color: var(--lightyellow); /* Neue Hintergrundfarbe für Textboxen */
}

/* Buttons */
button,
.button-secondary {
  width: 233px;
  height: 49px;
  border-radius: 15px;
  border: 2px solid var(--darkyellow); /* Rahmenfarbe auf Dunkelgelb geändert */
  background-color: transparent;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
  transition: all 0.3s;
}

input[type="email"],
input[type="password"] {
  width: 100%; /* oder eine spezifische Breite */
  height: 49px; /* gleiche Höhe wie andere Boxen */
  box-sizing: border-box;
}

button:hover,
.button-secondary:hover {
  background-color: var(--yellow);
  color: var(text-color);
}

/* Letzter Button */
.button-filled {
  background-color: var(--darkyellow);
  color: white;
}

.border_profile {
  width: 100vw; /* Macht die Buttons responsiv */
  max-width: 40vw; /* Maximale Breite für größere Bildschirme */
  border: 2px solid var(--yellow);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Responsiv */
@media (max-width: 500px) {
  button,
  .button-secondary,
  .button-filled {
    width: 100%;
  }

  form#registerForm {
    padding: 20px;
    
  }

  .border_profile {
    width: 100vw; /* Passt die Breite an kleinere Bildschirme an */
  }

  body {
    font-size: 0.9rem; /* Verkleinert die Schriftgröße für kleinere Bildschirme */
  }

  .border_profile {
    font-size: 0.8rem; /* Verkleinert die Schriftgröße innerhalb der Buttons */
  }
}
