body {
    margin: 0;
    padding: 0;
    background-color: var(--beige);
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.nav-items-wrapper{
    background-color: var(--yellow);
}